@import "../settings/global"; // import the settings for this 'component'

$site-blue: #2c3e50;
$site-white: #ecf0f1;

body {
    background: transparent url(../images/blurbg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    color: $site-white;
}