.panel {
    font-weight: $font-weight-light;
    background-color: lighten(#1e2f38, 5%);
    padding: $default-padding;
    margin-bottom: $default-padding;
    &__lead-user {
        a {
            color: $site-white;
            &:hover {
                color: $site-white;
                text-decoration: underline;
            }
        }
        img {
            border-radius: 50%;
            border: 2px solid #fff;
            width: 50px;
            margin-right: 20px;
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    &__alerts {
        background-color: lighten(#1e2f38, 10%);
        padding: $default-padding;
        margin-bottom: $default-padding;
        &--danger {
            background-color: #995852;
        }
    }
    &__title {
        color: $site-white;
        font-weight: $font-weight-light;
        margin-bottom: 10px;
        font-size: 50px;
        i {
            font-size: 30px;
            margin-left: 10px;
            line-height: 60px;
            float: right;
            margin-right: 10px;
        }
    }
    &__copy {
        color: $site-white;
        font-weight: $font-weight-light;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__stats {
        text-align: center;
        &-value {
            display: block;
            font-size: 90px;
            @media #{$medium-up} {
                font-size: 50px;
            }
            @media only screen and (min-width: 750px) {
                font-size: 65px;
            }
            @media only screen and (min-width: 900px) {
                font-size: 90px;
            }
            @media #{$large-up} {
                font-size: 70px;
            }
            @media only screen and (min-width: 1200px) {
                font-size: 90px
            }
        }
        &-label {
            display: block;
            text-align: center;
        }
    }
    &--positive {
        background-color: #16a085;
    }
    &--borderline {
        background-color: #C2A650;
    }
    &--negative {
        background-color: #995852;
    }
}