.panel {
    font-weight: $font-weight-light;
    background-color: lighten(#1e2f38, 5%);
    padding: $default-padding;
    margin-bottom: $default-padding;
    &__alerts {
        background-color: lighten(#1e2f38, 10%);
        padding: $default-padding;
        margin-bottom: $default-padding;
        &--danger {
            background-color: #995852;
        }
    }
    &__title {
        color: $site-white;
        font-weight: $font-weight-light;
        margin-bottom: 10px;
        font-size: 50px;
        i {
            font-size: 30px;
            margin-left: 10px;
            line-height: 60px;
            float: right;
            margin-right: 10px;
        }
    }
    &__copy {
        color: $site-white;
        font-weight: $font-weight-light;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__stats {
        text-align: center;
        &-value {
            display: block;
            font-size: 90px;
            @media #{$medium-up} {

            }
        }
        &-label {
            display: block;
            text-align: center;
        }
    }
    &--positive {
        background-color: #16a085;
    }
    &--borderline {
        background-color: #C2A650;
    }
    &--negative {
        background-color: #995852;
    }
}