
.page-avatar {
    border: 2px solid #fff;
    box-shadow: 0 0 10px 3px #2E2E2E;
    width: 50px;
    display: block;
    margin: $default-padding * 2 auto $default-padding;
    @media #{$medium-up} {
        border: 5px solid #fff;
        display: inline-block;
        margin-right: $default-padding * 2;
        margin-top: -10px;
        width: 90px;
    }
    @media #{$large-up} {
        width: auto;
    }
    &--circle {
        border-radius: 50%;
    }
}

.profile {

}